
.flexContainer {
    display: flex;
    flex-direction: column;
    margin-top: 6.75rem;
    margin-left: 13rem;
    margin-right: 13rem;
}

.row1Container {
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 100%; 
}

.row3ContainerInnerFieldSet {
    display: flex;
    justify-content: space-between;
    
}

.column1 {
    margin-left: .2rem;
}

.column3 {
    margin-right: .6rem;
}

.submitButton {
    width: 8rem;
    align-self: flex-end;
    margin-top: .45rem;
}

/* Product Display Page*/

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    /* flex-grow: 1; */

  }

  /* div.gallery:hover {
    border: 1px solid #777;
  } */
  
  /* div.gallery img {
    width: 100%;
    height: auto;
  } */
  
  /* div.desc {
    padding: 15px;
    text-align: center;
  } */

  /* a {
    text-decoration:none;
    color: rgb(12, 12, 48);
  } */

 

  /* .container::after {
    content: '';
    flex-grow: 1000000000;
  } */


  .displayPostHeader {
    text-align: center;
  }


.mainCard {
  margin-top: 2rem;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-bottom: 5rem;
  padding: 1rem;
  border: solid;
  border-radius: 15px;
  background-color: white;
}

.col {
  transition: all 0.2s ease;
    cursor: pointer;
}

.col:hover{

  transform: scale(1.1);
}

